<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的待办</title>
    <link rel="stylesheet" href="/qyh/stylesheets/weui.min.css"/>
    <link rel="stylesheet" href="/qyh/stylesheets/style.css"/>
    <style type="text/css">
        .weui_cells {
             margin-top: -1px;
         }
    </style>
</head>
<body ontouchstart>
    <div class="container js_container">
        <div class="page cell">
            <div class="hd">
                <h1 class="page_title">我的待办</h1>
            </div>
            <div class="bd">
                <div class="weui_cells">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>报障人</p>
                        </div>
                        <div class="weui_cell_ft">联系方式&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                    </div>
                </div>
                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>王洁锋</p>
                        </div>
                        <div class="weui_cell_ft">13927038409</div>
                    </a>
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>王洁锋</p>
                        </div>
                        <div class="weui_cell_ft">13927038409</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/qyh/javascripts/zepto.min.js"></script>
</body>
</html>
